.posts__history {
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    -webkit-box-orient   : horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction   : row;
    flex-direction       : row;
    -webkit-box-align    : center;
    -ms-flex-align       : center;
    align-items          : center;
    margin-top           : 1.5rem;
    padding-bottom       : 3rem;
}

.posts__history__photo {
    display          : -webkit-box;
    display          : -ms-flexbox;
    display          : flex;
    -webkit-box-pack : center;
    -ms-flex-pack    : center;
    justify-content  : center;
    -webkit-box-align: center;
    -ms-flex-align   : center;
    align-items      : center;
    color            : white;
    font-size        : 1.3rem;
    width            : 50px;
    height           : 50px;
    background-color : #666699;
    border-radius    : 50%;
}

.posts__history__msg {
    display    : -webkit-box;
    display    : -ms-flexbox;
    display    : flex;
    margin-left: 2rem;
    max-width  : 50%;
    word-wrap  : break-word;
}