.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pages {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.selected__page,
.unselected__page {
  padding: .3rem 0.7rem;
  background-color: #666999;
  border-radius: 5px;
  font-weight     : bold;
  margin-left: 2px;
  margin-right: 2px;
  color: white;
  user-select: none;
}

.selected__page {
  border: 1px solid #666999;
  background-color: white;
  color: #666999;
}

.preloader__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}