.user__container {
	display       : flex;
	flex-direction: row;
	max-width     : 100%;
	padding       : 1rem 0;
  }
  
  .user__data__leftSide {
	display        : flex;
	align-items    : center;
	justify-content: center;
	flex-direction : column;
	width          : 15%;
  }
  
  .user__photo {
	display         : flex;
	justify-content : center;
	align-items     : center;
	width           : 70px;
	height          : 70px;
	background-color: #666699;
	border-radius   : 35px;
	color           : white;
  }
  
  .user__followButton {
	background-color: #666699;
	color           : white;
	font-size       : 1.1rem;
	border-radius   : 10px;
	padding         : 0.3rem 1rem;
	margin-top      : 1rem;
  }
  
  .user__data__rightSide {
	display        : flex;
	flex-direction : column;
	justify-content: space-between;
	width          : 85%;
	border         : 2px solid #666999;
	border-radius  : 10px;
	padding        : 1rem 1.3rem;
  }
  
  .user__info {
	display        : flex;
	flex-direction : row;
	justify-content: space-between;
  }
  
  .user__name {
	font-size: 1.5rem;
  }
  
  .user__location {
	font-size: 1.5rem;
  }
  
  .user__status {
	font-size: 1.3rem;
  }

  .current__page {
	  font-weight: bold;
  }