.profile__posts {
  display              : -webkit-box;
  display              : -ms-flexbox;
  display              : flex;
  -webkit-box-orient   : vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction   : column;
  flex-direction       : column;
  margin               : 0 3rem;
}

.posts__header {
  width        : 100%;
  font-size    : 1.5rem;
  margin-bottom: 1rem;
}
