@import 'reset';


$font-color: rgb(102, 102, 153);


.container {
    width: 1180px;
    margin: 0 auto;
}



.header {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    height: 60px;
    margin: 10px 0;
    background-color: $font-color;

    &__logo {
        width: 45px;
        height: 35px;
        margin-left: 10px;
    }
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin: 10px 0;
}

.nav {
    flex-basis: 20%;
    padding: 10px;
    margin-right: 5px;
    background-color: $font-color;
    & ul {

        & li {
            margin-bottom: 1rem;
        }
        
        & a {
            font-size: 1.5rem;
            color: white;
        }
    }
}

.profile {
    flex-basis: 80%;
    margin-left: 5px;

    &__wallpaper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 230px;
        overflow: hidden;   

        & img {
            max-width: 100%;
        }
    }

    &__info {
        display: flex;
        margin: 20px 0;
        height: 150px;


        &__photo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20%;
            height: 100%;

            & img {
                max-height: 100%;
            }
        }

        &__data {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &--name {
                font-size: 2rem;
                font-weight: bold;
            }
            &--dateOfBirth{
                font-size: 1.2rem;
            }
            &--city{
                font-size: 1.2rem;
            }
            &--education{
                font-size: 1.2rem;
            }
            &--webSite{
                font-size: 1.2rem;
            }
        }
    }

    &__posts {
        display: flex;
        flex-direction: column;
        margin: 0 3rem;
    
        &__title {
            width: 100%;
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
    
        &__creator {
            display: flex;
            flex-direction: column;
            
            &--input {
                width: 100%;
                height: 100px;
                margin-bottom: 1rem;
                border: 3px solid $font-color;
                padding: 0.7rem;
                font-size: 1.3rem;
            }

            &--submit {
                align-self: flex-end;
                width: 6rem;
                height: 2rem;
                background-color: $font-color;
                color: white;
                font-size: 1.1rem;
            }
        }
    
        &__history {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 2.5rem;
            padding-bottom: 3rem;
    
            &--photo{
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 1.3rem;
                width: 50px;
                height: 50px;
                background-color: $font-color;
                border-radius: 50%;
            }
    
            &--text{
                display: flex;
                margin-left: 2rem;
                max-width: 50%;
                word-wrap: break-word;          
            }
        }
    }
}


