@import 'reset';


$font-color: rgb(102, 102, 153);

.container {
    width: 1180px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin: 10px 0;
}
